[data-part="JPreview"]>table{
    width: 100%;
    text-align: center;
}

[data-part="JPreview"]>table td{
    padding: 5rem;
    vertical-align: top;
}

[data-part="JPreview"] .image{
    width: 100%;
}

[data-part="JPreview"] .title{
    font-size: 4rem;
    padding: 2rem 0;
    border-bottom: #dddddd 1px solid;
    color: #666;
}

[data-part="JPreview"] .text{
    text-align: left;
    padding-top: 3rem;
}
